[submodule "lib/Polygeist"]
	path = lib/Polygeist
	url = https://github.com/llvm/Polygeist
[submodule "bench/DataFrame"]
	path = bench/DataFrame
	url = https://github.com/hosseinmoein/DataFrame
[submodule "bench/gpt2.cpp"]
	path = bench/gpt2.cpp
	url = https://github.com/iangitonga/gpt2.cpp.git
[submodule "bench/gapbs"]
	path = bench/gapbs
	url = https://github.com/sbeamer/gapbs
[submodule "bench/MonetDB"]
	path = bench/MonetDB
	url = https://github.com/CXLMemUring/MonetDB
[submodule "bench/llama.cpp"]
	path = bench/llama.cpp
	url = https://github.com/CXLMemUring/llama.cpp
[submodule "bench/npb"]
	path = bench/npb
	url = https://github.com/LLNL/NPB
[submodule "bench/partitioned-hash-join"]
	path = bench/partitioned-hash-join
	url = https://github.com/themisvaltinos/Partitioned-Hash-Join
[submodule "bench/spatter"]
	path = bench/spatter
	url = https://github.com/hpcgarage/spatter
[submodule "bench/ume"]
	path = bench/ume
	url = https://github.com/lanl/UME
